* {
  --topbar-height: 70px;
  --topbar-color: #454648;
  --thumbnail-padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.page {
  width: 100%;
  height: 100vh;
}

.topbar {
  position: relative;
  width: 100%;
  height: var(--topbar-height);
  background-color: var(--topbar-color);
  z-index: -10;
}
